---
layout: default
featured:
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita illo culpa, harum et minima maiores voluptates delectus vero voluptatem accusamus saepe minus. Quibusdam delectus minus porro blanditiis impedit molestiae aperiam!
 - icon: fa-solid fas fa-apple-alt
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius suscipit soluta optio facilis laborum labore possimus, itaque, assumenda accusantium rem consectetur libero atque provident officia. Quibusdam qui vel recusandae et.
 - icon: fa-solid fas fa-carrot
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis doloribus explicabo similique reprehenderit. Accusantium cumque odio ea! Corrupti rem laudantium consequuntur corporis soluta! Esse velit dicta corporis illo ex commodi?
 - icon: fa-solid fas fa-pizza-slice
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero neque autem laudantium, nihil omnis quisquam voluptatem et maiores, blanditiis sapiente temporibus eius esse ab totam iste tenetur? Dolorum, natus ex?
---

        <!-------------- Header, banner -------------->
        <header class="grid tall-100 md-tall-80">

            {% include header-nav.html %}


            <div class="col-12 text-center editable">
                <h3 class="font-weight-extrabold editable" data-aos="fade-in" data-aos-offset="500" data-aos-duration="1000" ><span class="featured-text">sleep</span> like a baby</h3> <!-- Just because it is bigger, it doesn't mean it must be the h1, infact, the most important thing is what defines the site which, in this case, is smaller. This distintion is important because of the SEO -->
                <h1 class="font-weight-normal">the ultimate mattress solution</h1>
            </div>
        </header>

        <!-------------- Gallery section ------------>
        <section class="grid">
            <div class="padded col-6_xs-12-middle">
                <h2>built to last a <span class="featured-text">lifetime</span></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam nostrum velit, at a aspernatur, debitis minus voluptate amet animi nisi mollitia tempore fugiat,</p> <p>quae voluptatum exercitationem eaque possimus voluptates? Repellat.</p>
            </div>
            <div class="bg-image bg-lamp col-6_xs-12-middle tall-70 hide-xs">
                <!-- Background image bed -->
            </div>
            <div class="bg-image bg-dog col-6_xs-12 tall-70">
                <!-- Background image dog -->
            </div>
            <div class="padded col-6_xs-12-middle">
                <h2>so <span class="featured-text">soft</span> you'll melt</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam nostrum velit, at a aspernatur, debitis minus voluptate amet animi nisi mollitia tempore fugiat, quae voluptatum exercitationem eaque possimus voluptates? Repellat.</p></div>
        </section>

        <!-------------- Feature section ------------>
        <section class="padded grid-center bg-dark">
            <div class="col-12 text-center"><h2><span class="featured-text">features</span> you will love</h2></div>

            {% for item in page.featured %} <!-- creating a loop, it is going to repeat what is in the loop -->
            <div class="padded-1 col-3_sm-6 xxs-stack">
                <i class="{{item.icon}}"></i>
                <p>{{item.description}} </p>
            </div>

            {% endfor %}

        </section>

        <!-------------- Banner section ------------>
        <section class="padded text-center bg-image bg-pillow tall-70 grid">
            <div class="col-12-middle">
                <h3 class="big-text">
                    <span class="small-text font-weight-light ">never underestimate the power of</span>
                    <br> a good night <span class="white-text">sleep</span>
                </h3>
            </div>
        </section>

        <!-------------- Testimonial section ------------>
        <section class="padded-5 grid">
            <div class="col-1 text-right">
                <span class="quote-icon">“</span>
            </div>
            <div class="col-10 text-center">
                <p class="medium-text font-weight-light"> i've never experienced sleep like this. OMG I really love this mattress I want to buy one for every member of my </p>
                <p class="subtitles"> - A very happy customer</p>
            </div>
            <div class="col-1 text-left">
                <span class="quote-icon">”</span>
            </div>
        </section>

