---
layout: default
cards:
   -
      heading: little heading
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
      featured_image: /images/the-sleep-co-4.jpg
   -
      heading: little heading
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
      featured_image: /images/the-sleep-co-2.jpg
   -
      heading: little heading
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
      featured_image: /images/the-sleep-co-3.jpg
---
<header class="grid text-center tall-60">

            {% include header-nav.html %}


            <div class="col-12">
                <h3 class="font-weight-extrabold">addictively <span class="featured-text">soft</span> </h3> <!-- Just because it is bigger, it doesn't mean it must be the h1, infact, the most important thing is what defines the site which, in this case, is smaller. This distintion is important because of the SEO -->
                <h1 class="font-weight-normal">you won't want to get out of bed</h1>
            </div>
        </header>

        <!-------------- Icon section -------------->
        <section class="padded grid bg-featured">
            <div class="col-12 text-center"><h2><span class="white-text">features</span> you will love</h2></div>
            <div class="padded-1 col-3">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, accusamus. </p>
            </div>
            <div class="padded-1 col-3">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, accusamus. </p>
            </div>
            <div class="padded-1 col-3">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, accusamus. </p>
            </div>
            <div class="padded-1 col-3">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, accusamus. </p>
            </div>
        </section>

        <!-------------- Card -------------->
        <section class="grid padded">

            {% for item in page.cards %}

            <div class="col-4_sm-12">
                <div class="card">
                    <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                    <div class="padded">
                        <h3>{{item.heading}}</h3>
                        <p>{{item.description}} </p>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </section>


        <!-------------- Banner section ------------>
        <section class="padded text-center bg-image bg-dark tall-70 grid">
            <div class="col-12-middle">
                <h3 class="big-text">
                    <span class="small-text font-weight-light ">spend over £150 and activate</span>
                    <br /><span class="featured-text">free </span>express shipping
                </h3>
            </div>
        </section>


        <!-------------- Grid section ------------>
        <!---- First ---->
        <section class="grid padded">
            <div class="padded col-6-middle">
                <h2>a catchy<span class="featured-text">heading</span> </h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam nostrum velit, at a aspernatur, debitis minus voluptate amet animi nisi mollitia tempore fugiat, quae voluptatum exercitationem eaque possimus voluptates? Repellat.</p>
            </div>

            <div class="bg-image bg-image col-6 tall-70"></div>
        </section>


        <!---- Second ---->
        <section class="grid padded">
            <div class="bg-image bg-image col-6 tall-70"></div>

            <div class="padded col-6-middle">
                <h2><span class="featured-text">something</span> else</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam nostrum velit, at a aspernatur, debitis minus voluptate amet animi nisi mollitia tempore fugiat, quae voluptatum exercitationem eaque possimus voluptates? Repellat.</p>
            </div>
        </section>


        <!---- Third ---->
        <section class="grid padded">
            <div class="padded col-6-middle">
                <h2><span class="featured-text">another</span> heading</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam nostrum velit, at a aspernatur, debitis minus voluptate amet animi nisi mollitia tempore fugiat, quae voluptatum exercitationem eaque possimus voluptates? Repellat.</p>
            </div>

            <div class="bg-image bg-image col-6 tall-70"></div>
        </section>


        
